/*font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;*/

body{
	margin: 0;
	padding: 0;

	font-family: "Cuprum", Areal, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.container{
	width: 940px; 
	margin: 0 auto;

}

h2{
	font-size: 30px;
	text-transform: uppercase;

}

a{
	color: #ffffff;
	text-decoration: none;
}

.button{
	font: inherit;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
}

.btn-transparent{
	display: block;
	box-sizing: border-box;
	padding: 9px;

	width: 135px;
	height: 40px;

	border-radius: 5px;
	background-color: rgba(133, 133, 133, 0.3);
}

.btn-transparent:hover{
	background-color: rgba(133, 133, 133, 0.5);
}

.btn-transparent:focus{
	background-color: rgba(133, 133, 133, 0.7);
}

.btn-red{
	padding: 10px 50px;
	font-size: 14px;
	line-height: 16px;

	background-color: #ee3643;

	border-radius: 5px;
}

.btn-red:hover{
	background-color: #d71f2c;
}

.btn-red:focus{
	background-color: #aa3643;
}

/*--------Top bar styles---------*/

.top-bar{
	height: 42px;
	padding: 0;
	margin: 0;

	background-color: #32425c;
}

.top-bar .container{
	height: 100%;
	display: flex;
	align-items: center;
}

.logo{
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #ee3643;

	border-bottom: 3px solid #b6242f;
}

.top-bar__logo{
	font-size: 24px;

	width: 220px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin: 0;
	
}

.top-bar__user-tools{
	display: flex;
	justify-content: flex-start;
	align-self: stretch;
	padding: 0; 
	margin: 0;

	font-size: 17px;
	color: #ffffff;

	list-style: none;
}

.user-tools__item{
	display: flex;
	width: 150px;
	
	position: relative;
}

.user-tools__item a{
	width: 100%;
	padding-top: 8px;
	align-items: stretch;
	padding-left: 45px;
}

.user-tools__bookmarks a::before{
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	width: 16px;
	height: 16px;
	background-image: url("../img/index-page/header/icon-bookmark.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.user-tools__cart a::before{
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	width: 16px;
	height: 16px;
	background-image: url("../img/index-page/header/icon-cart.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.user-tools__search{
	width: 270px;
}

.user-tools__search input{
	width: 100%;

	font: inherit;
	color: #ffffff;

	background-color: inherit;
	border: none;
}

.user-tools__search input::placeholder{
	color: #ffffff;
}

.user-tools__order{
	width: 150px;
	margin-left: auto;
	align-self: stretch;
	padding-top: 8px;

	font-size: 17px;
	text-align: center;
	vertical-align: middle;

	background-color: #63a73c;
}

.user-tools__item:hover{
	/*делать иконки яркими*/
	background-color: #243147;
}

.user-tools__item:not(.user-tools__search) a:focus{
	color: lightgray;

	background-color: #212a3a;
}

.user-tools__search input:focus{
	color:  #32425c;

	background-color: #ffffff;
}

.user-tools__order:hover{
	filter: brightness(50%); 
}

.user-tools__order:focus{
	filter: brightness(100%); 
}

/*---- header -----*/

.main-header{
	margin-bottom: 55px;
	padding-bottom: 60px;

	background-color: #f3f7f8;
}

.main-header .container{
	display: flex;
	flex-wrap: wrap;

	padding-top: 50px;
}

.main-header__desk{
	margin: 0;
	margin-left: 50px;

	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	text-align: left;
	font-style: italic;
}

.main-header__contacts{
	margin-left: 70px;
	display: flex;
	flex-direction: column;
}

.contacts__number{
	box-sizing: border-box;
	padding: 10px 50px 10px 70px;

	position: relative;

	font-size: 21px;
	color: #ee3643;
	
	border: 3px solid #ffffff;
}

.contacts__number::before{
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	background-image: url("../img/index-page/header/icon-phone.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.contacts__address{
	color: #32425c;
	text-align: center;
}

.main-header__nav-enter{
	width: 280px;
	display: flex;
	justify-content:space-between;
	margin: 0;
	margin-left: auto;

	list-style: none;
}

.main-header__nav-enter li{
	display: flex;
	height: 45px;
}

.nav-enter__sign-in{
	width: 120px;

	position: relative;
}

.nav-enter__sign-in a{
	padding-left: 20px;
}

.nav-enter__sign-in:before{
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	background-image: url("../img/index-page/header/icon-login.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.nav-enter__log-in{
	width: 150px;
}

.main-header__nav-enter a{
	width: 100%;
	padding-top: 10px;
	
	color: #000000;
	font-size: 21px;
	text-align: center;

	background-color: #ffffff;
}

.main-header__nav-enter a:hover{
	color: #ee3643;
}

.main-header__nav-enter a:focus{
	color: lightgray;
}

.main-header__main-navigation{
	
	flex-basis: 100%;
	height: 60px;
	box-sizing: border-box;
	margin-top: 35px;

	font-size: 17px;

	background-color: #2f405b;
	border-bottom: 5px solid #253147;
}

.main-header__main-navigation ul{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	height: 100%;

	padding: 0;
	margin: 0;

	list-style: none;
}

.main-navigation__item{
	flex-grow: 1;
}

.main-navigation__item a{
	display: block;
	height: 100%;
	padding-top: 15px;

	text-align: center;
}

.main-navigation__item:hover{
	background-color: #253147;
}

.main-navigation__item a:focus{
	color: gray;
}

/*----- Main part ----*/

.promo{
	margin-bottom:  50px;
}

.promo table{
	border-spacing: 20px;
	margin: -20px;
}

.promo td{
	height: 125px;
	width: 300px;
	vertical-align: top;

	padding-left: 25px;
}

.promo__item{
	background-repeat: no-repeat;
	background-position: 85% 50%;
}

.promo__item h2{
	font-size: 24px;
	text-transform: none;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 1px;
}

.promo__material{
 	background-color: #ffc145;
 	background-image: url("../img/index-page/main/icon-material.png");
}

.promo__tool{
	background-color: #38bee4;
	background-image: url("../img/index-page/main/icon-tool.png");
}

.promo__tech{
	background-color: #dd92d9;
	background-image: url("../img/index-page/main/icon-tech.png");
}

.promo__sale{
	background-color: #8fd890;
	background-image: url("../img/index-page/main/icon-cart.png");
}

.promo__delivery{
	background-color: #ffc145;
	background-image: url("../img/index-page/main/icon-delivery.png");
}

.promo__slider{
	position: relative;

	padding-top: 25px;
	background-image: url("../img/index-page/main/slider-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.slider-content{
	margin: 0;
}

.promo__slider h2{
	padding: 0;
	margin: 0;
	
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.promo__slider p{
	margin: 0;
	margin-top: 5px;
	
	font-size: 18px;
	color: #ffffff
}

.slider-button{
	position: absolute;

	background-color: transparent;
	border: none;
}

.slider-button span{
	display: block;
	width: 40px;
	height: 40px;
}

.slider-button-back{
	top: 45%;
	left: 0;
}

.slider-button-next{
	top: 45%;
	right: 0;
}


.slider-button-back span{
	background-image: url("../img/index-page/main/slider-icon-left.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slider-button-next span{
	background-image: url("../img/index-page/main/slider-icon-right.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slider-button:hover span{
	opacity: 0.5;
}

.promo__slider .button{
	position: absolute;
	bottom: 10%;
}

/*----Popular items ----*/

.popular__header{
	display: flex;
	justify-content:space-between;
	align-items: center; 
	padding: 25px 20px;
	
	background-color: #f9f5f1;
}

.popular__header h2{
	margin: 0;

	color: #32425c;
}

.popular-prod ul{
	padding: 0;
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
}

.popular__item{
	width: 220px;
	height: 320px;
	box-sizing: border-box;

	padding-top: 15px;

	display: flex;
	flex-direction: column;
	align-items: center; 

	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;

	list-style: none;
	border: 2px solid #ebebeb;
}

.popular__item .border{
	display: flex;

	overflow: hidden;

	width: 220px;
	height: 130px;
}

.popular__item img{
	margin: 0 auto;
	align-self: center;
}

.popular__item:hover{
	box-shadow: 0 0 5px 1px black;
}

.popular__item p{
	margin: 30px 0 10px 0;

	line-height: 20px;
	text-align: center;
}

.item__old-price{
	margin-bottom: 10px;

	font-size: 17px;
	color: #aaaaaa;
	text-decoration: line-through;
}

.item__new-price{
	display: block;
	padding: 5px 35px;

	position: relative;

	font-size: 17px;
	color: #ffffff; 

	background-color: #ee3643;
	background:linear-gradient(-135deg, #ffffff 0%, #ffffff 10%, #ef3341 10%, #ef3341 100%);
}

.popular-brand{
	margin-bottom: 70px;	
 }

 .popular-brand ul{
 	padding: 0;

 	display: flex;
 	flex-wrap: wrap;
 	justify-content: space-between;
 }

 .popular-brand .popular__item{
 	margin-bottom: 20px;
 	height: 145px;
 }

 .popular-brand .popular__item a{
 	display: flex;
 	align-items: center;
 	justify-content: center; 

 	width: 100%;
 	height: 100%;
 }

.popular-brand .popular__item a:focus{
	box-shadow: 0 0 2px 1px black;
	filter: saturate(50%);
}

/*---Services---*/

.features{
	margin-bottom: 60px;

	font-size: 14px;
	color: #000000;

	background-color: #f3f7f8; 
}

.features .container{
	display: flex;
	flex-direction: column; 

	padding-top: 50px;
}

.features__preview{
	display: flex;
	justify-content: flex-start; 
	align-items: stretch;

	padding-top: 50px; 
	
}

.features__preview ul{
	margin: 0;
	margin-right: 80px;
	padding: 0;
	padding-bottom: 100px;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start; 

	list-style: none;
}

.preview__item{
	width: 240px;
	box-sizing: border-box;
	padding: 17px 0 17px 20px;

	font-size: 21px;
	color: #ffffff;

	background-color: #2e405c;

	border-bottom: 2px solid #4d637d;
}

.preview__description h2{
	margin: 0;
	margin-bottom: 30px;
}

.preview__description{
	flex-grow: 1;
	background-image: url("../img/index-page/main/fitch-delivery.png");
	background-repeat: no-repeat;
	background-position: 100%;

}

.preview__item-active{
	color:  #2e405c;

	background-color: #ffffff;
}

.preview__item:hover{
	background-color: #243147;
}

.preview__item-active:hover{
	background-color: #ffffff;
}

/*--- About  ---*/
.info.container{
	display: flex;
}

.about{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: flex-start;
	padding-right: 150px;

	font-size: 14px;
	color: #000000;
	line-height: 30px;
}

.about p{
	margin: 0;
	margin-bottom: 10px;
}

.about ul{	
	margin: 0;
	margin-bottom: 45px;

	font-size: 18px;

	list-style: none;
}

.about li{
	position: relative;
}

.about li::before{
	content: "";
	display: block;
	position: absolute;
	top: 14px;
	left: -30px;
	width: 20px;
	height: 2px;
	background-color: #ee3643;
}

/*--- Contacts---*/

.contacts{
	display: flex;
	flex-direction: column;
	justify-content:space-between;

	margin-left: auto;
}

.contacts p{
	padding: 0;
	margin: 0;
}

.contacts img{
	padding-top: 20px;
}


.contacts a{
	white-space: nowrap;
}

/*Footer*/

.main-footer{
	margin-top: 90px;
}

/*Footer top*/

.footer-top{
	background-color: #2e405c;
}

.footer-top .container{
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}

.footer-top__first-floor,
.footer-top__second-floor{
	display: flex;
	justify-content: space-between;
	align-items: flex-start; 
}

.footer-top__logo{
	font-size: 30px;

	padding: 16px 40px;

}

.footer-top p{
	font-size:  18px;
	color: #ffffff;
	line-height: 24px;

	text-align: left;
}

.footer-top ul{
	display: flex;

	font-size: 18px;

	list-style: none;
}

.footer-top__navbar{
	margin-top: 30px; 
	margin-left: auto;
}

.navbar__items{
	margin-left: 60px;
}

.features__items{
	margin-left: 60px;
}

.footer-top__navbar a{
	color: #ffffff;
}

.footer-top__features a{
	color: #ffd180;
}

.footer-top__navbar a:hover,
.footer-top__features a:hover{
	text-decoration: underline;
}

.footer-top__navbar a:focus,
.footer-top__features a:focus{
	filter: brightness(50%);
}

.footer-bottom{
	background-color: #243147;
}

.footer-bottom .container{
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
}

.footer-bottom__license{
	margin: 0;

	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	text-align: left;
}

.footer-bottom__social{
	display: flex;
	margin: 0;

	list-style: none;
}

.footer-bottom__social a{
	display: block;
	box-sizing: border-box;
	padding-top: 10px;

	text-align: center;

	width: 40px;
	height: 40px;
	margin-right: 20px;

	background-color: #1b2537;
	border-radius: 50%;

}

.footer-bottom__social a:hover{
	background-color: #ef3341;
}

.footer-bottom__contacts,
.footer-bottom__copyright{
	margin: 0;

	display: flex;
	flex-direction: column;
	font-size: 16px;
}

.footer-bottom__contacts b,
.footer-bottom__copyright b{
	color: #ffffff;
}

.footer-bottom__contacts a,
.footer-bottom__copyright a{
	color: #ffd180;
}

.footer-bottom__contacts a:hover,
.footer-bottom__copyright a:hover{
	text-decoration: underline;
}

.footer-bottom__contacts a:focus,
.footer-bottom__copyright a:focus{
	color: #ee3643;
	text-decoration: none;
}


