/*font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Cuprum", Areal, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

a{
	color: #ffffff;
	text-decoration: none;
}

.button{
	font: inherit;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
}

.btn-transparent{
	background-color: inherit;
	filter: brightness(0.8);
}

.btn-red{
	background-color: #ee3643;
}

/*--------Top bar styles---------*/

.top-bar{
	background-color: #32425c;
}

.top-bar__logo{
	font-size: 24px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
}

.top-bar__user-tools{
	font-size: 17px;
	color: #ffffff;

	list-style: none;
}

.user-tools__item{
	display: inline-block;
}


.user-tools__search input{
	font: inherit;
	color: #ffffff;

	background-color: inherit;
	border: none;
}

.user-tools__search input::placeholder{
	color: #ffffff;
}

.user-tools__order{
	font-size: 17px;

	background-color: #63a73c;
}

.user-tools__item:hover{
	/*делать иконки яркими*/
	background-color: #243147;
}

.user-tools__item:not(.user-tools__search) a:focus{
	color: lightgray;

	background-color: #212a3a;
}

.user-tools__search input:focus{
	color:  #32425c;

	background-color: #ffffff;
}

.user-tools__order:hover{
	filter: brightness(50%); 
}

.user-tools__order:focus{
	filter: brightness(100%); 
}

/*---- header -----*/

.main-header{
	background-color: #f3f7f8;
}

.main-header__desk{
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	text-align: left;
	font-style: italic;
}

.contacts__number{
	font-size: 21px;
	color: #ee3643;
	text-align: center;
	vertical-align: middle;

	border: 3px solid #ffffff;
}

.contacts__address{
	color: #32425c;
	text-align: center;
}

.main-header__nav-enter a{
	color: #000000;
	font-size: 21px;
	text-align: center;
	vertical-align: middle;

	background-color: #ffffff;
}

.main-header__nav-enter a:hover{
	color: #ee3643;
}

.main-header__nav-enter a:focus{
	color: lightgray;
}

.main-header__main-navigation{
	font-size: 17px;

	background-color: #2f405b;
	border-bottom: 5px solid #253147;
}

.main-navigation__item{
	display: inline-block;
}

.main-navigation__item:hover{
	background-color: #253147;
}

.main-navigation__item a:focus{
	color: lightgray;
}

/*----- Main part ----*/

.promo__item h2{
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
}

.promo__material{
 	background-color: #ffc145;
 	background-image: url("../img/index-page/main/icon-material.png");
	background-repeat: no-repeat;
	background-position: right;
}

.promo__tool{
	background-color: #38bee4;
	background-image: url("../img/index-page/main/icon-tool.png");
	background-repeat: no-repeat;
	background-position: right;
}

.promo__tech{
	background-color: #dd92d9;
	background-image: url("../img/index-page/main/icon-tech.png");
	background-repeat: no-repeat;
	background-position: right;
}

.promo__sale{
	background-color: #8fd890;
	background-image: url("../img/index-page/main/icon-cart.png");
	background-repeat: no-repeat;
	background-position: right;
}

.promo__delivery{
	background-color: #ffc145;
	background-image: url("../img/index-page/main/icon-delivery.png");
	background-repeat: no-repeat;
	background-position: right;
}

.promo__slider{
	background-image: url("../img/index-page/main/slider-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.slider-button{
	background-color: transparent;
	border: none;
}

.slider-button span{
	display: block;
	width: 40px;
	height: 40px;
}

.slider-button-back{
	background-image: url("../img/index-page/main/slider-icon-left.png");
	background-repeat: no-repeat;
	background-position: center;
}

.slider-button-next{
	background-image: url("../img/index-page/main/slider-icon-right.png");
	background-repeat: no-repeat;
	background-position: center;
}

/*----Popular items ----*/

.popular-prod__header{
	background-color: #f9f5f1;
}

.popular-prod__header h2{
	font-size: 30px;
	color: #32425c;
}

.popular-prod__item{
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;

	display: inline-block;
	border: 2px solid #ebebeb;
}

.popular-prod__item p{
	
	
	line-height: 20px;
	text-align: center;
}

.item__old-price{
	font-size: 17px;
	color: #aaaaaa;
	text-decoration: line-through;
}

.item__new-price{
	font-size: 17px;
	color: #ffffff;

	background-color: #ee3643;
}